Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2018-08, with the labels that each got.

#1252 Update plan-hyper-v-security-in-windows-server.md
  WindowsServerDocs/virtualization/hyper-v/plan/plan-hyper-v-security-in-windows-server.md
Labels: assigned-to-author, enhancement, link-issues, triaged

#1315 remove extra period
  WindowsServerDocs/get-started/get-started-with-1803.md
Labels: assigned-to-author

#1314 Corrected number of WID servers from 5 to 30
  WindowsServerDocs/identity/ad-fs/design/AD-FS-Deployment-Topology-Considerations.md
Labels: identity, triaged

#1160 Replaced the term"disabling" with "locking out"
  WindowsServerDocs/identity/ad-fs/operations/Configure-AD-FS-Extranet-Smart-Lockout-Protection.md
Labels: identity

#1065 Update Configuring-Alternate-Login-ID.md
  WindowsServerDocs/identity/ad-fs/operations/Configuring-Alternate-Login-ID.md
Labels: identity

#1392 Fixed link in ad-fs-password-spray-protection.md
  WindowsServerDocs/identity/ad-fs/technical-reference/ad-fs-password-spray-protection.md
Labels: assigned-to-author, identity, triaged
