Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2020-10, with the labels that each got.

#4751 Code formatting fixes & missing code bracket
  WindowsServerDocs/identity/ad-fs/development/ad-fs-build-custom-auth-method.md
Labels: AD FS

#4860 adding important note for about using ReFS for CSV
  WindowsServerDocs/failover-clustering/failover-cluster-csvs.md
Labels: failover clustering

#4688 Update create-failover-cluster.md
  WindowsServerDocs/failover-clustering/create-failover-cluster.md
Labels: failover clustering

#4859 information due to recent support cases
  WindowsServerDocs/storage/refs/refs-overview.md
Labels: storage

#4920 ADDS/Azure CLI: Configure DNS & second DC promo
  WindowsServerDocs/identity/ad-ds/deploy/virtual-dc/adds-on-azure-vm.md
Labels: AD DS

#4954 Author update (original author left this team)
  WindowsServerDocs/administration/windows-commands/cleanmgr.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#4952 Volume Shadow Copy Service: LUN explained
  WindowsServerDocs/storage/file-server/volume-shadow-copy-service.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#4951 Get Started with Windows Server 2016: edit author
  WindowsServerDocs/get-started/Server-Basics.md
Labels: do-not-merge
