Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2020-11, with the labels that each got.

#4949 Update OpenSSH_KeyManagement.md
  WindowsServerDocs/administration/OpenSSH/OpenSSH_KeyManagement.md
Labels: Change sent to author, OpenSSH, administration/tech, do-not-merge, windows-server/prod

#4958 Add link to Logging Facilities page
  WindowsServerDocs/administration/OpenSSH/OpenSSH_Server_Configuration.md
Labels: Change sent to author, administration/tech, do-not-merge, windows-server/prod

#4960 Remove references to lost KB article 2742970
  WindowsServerDocs/identity/ad-ds/get-started/virtual-dc/Virtualized-Domain-Controller-Architecture.md
Labels: Change sent to author, ad-ds/tech, do-not-merge, windows-server/prod

#4961 WAC SDK/BiitOps: new URLs
  WindowsServerDocs/manage/windows-admin-center/extend/case-studies/biitops.md
Labels: Change sent to author, do-not-merge, windows-admin-center/tech, windows-server/prod

#4962 Hyper-V/New-NetworkControllerServer: URL update
  WindowsServerDocs/networking/sdn/technologies/network-controller/Install-the-Network-Controller-server-role-using-Server-Manager.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#4963 Windows Commands/ping: minor grammar update
  WindowsServerDocs/administration/windows-commands/ping.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#4964 HGS cluster/TPM mode: URL 404 correction
  WindowsServerDocs/security/guarded-fabric-shielded-vm/guarded-fabric-initialize-hgs-tpm-mode-default.md
Labels: Change sent to author, do-not-merge, security/tech, windows-server/prod

#4965 Managing Hyper-V/type selection: URL correction
  WindowsServerDocs/virtualization/hyper-v/manage/manage-hyper-v-scheduler-types.md
Labels: Change sent to author, do-not-merge, hyper-v/tech, windows-server/prod

#4969 Update securing-privileged-access.md
  WindowsServerDocs/identity/securing-privileged-access/securing-privileged-access.md
Labels: Change sent to author, do-not-merge, security/tech, windows-server/prod

#4972 Failover Clustering/CSV: URL update & CSV variable
  WindowsServerDocs/failover-clustering/failover-cluster-csvs.md
Labels: Change sent to author, do-not-merge, failover-clustering/tech, windows-server/prod

#4966 AD DS/Audit Policy: increase tables' readability
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Audit-Policy-Recommendations.md
Labels: AD DS, Change sent to author, ad-ds/tech, do-not-merge, windows-server/prod

#4973 Troubleshoot/Event ID 50: remove link to KB 159865
  WindowsServerDocs/storage/file-server/Troubleshoot/troubleshoot-event-id-50-error.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#4974 RD Connection Broker/string for ODBC: update name
  WindowsServerDocs/remote/remote-desktop-services/rds-connection-broker-cluster.md
Labels: Change sent to author, do-not-merge, remote-desktop-services/tech, windows-server/prod

#4999 Windows Commands/mmc: No help at command prompt
  WindowsServerDocs/administration/windows-commands/mmc.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#4982 Spelling correction in rdp-general-troubleshooting.md
  WindowsServerDocs/remote/remote-desktop-services/troubleshoot/rdp-error-general-troubleshooting.md
Labels: Change sent to author, do-not-merge, remote-desktop-services/tech, windows-server/prod

#4985 AD DS/plan: remove link to removed content
  WindowsServerDocs/identity/ad-ds/plan/Finding-Additional-Resources-for-Windows-Server-2008-Active-Directory-Site-Topology-Design.md
Labels: Change sent to author, ad-ds/tech, do-not-merge, windows-server/prod

#4989 Upgrade Domain Controllers: update 2 URLs
  WindowsServerDocs/identity/ad-ds/deploy/Upgrade-Domain-Controllers-to-Windows-Server-2012-R2-and-Windows-Server-2012.md
Labels: Change sent to author, ad-ds/tech, do-not-merge, windows-server/prod

#4995 Update AD-Forest-Recovery-Resetting-the-krbtgt-password.md
  WindowsServerDocs/identity/ad-ds/manage/AD-Forest-Recovery-Resetting-the-krbtgt-password.md
Labels: Change sent to author, ad-ds/tech, do-not-merge, windows-server/prod

#5001 Windows Commands/fsutil: symlinkevaluation typo
  WindowsServerDocs/administration/windows-commands/fsutil-behavior.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5005 Update strings-localization.md
  WindowsServerDocs/manage/windows-admin-center/extend/guides/strings-localization.md
Labels: Change sent to author, do-not-merge, windows-admin-center/tech, windows-server/prod

#4020 Those value are incorrect.
  WindowsServerDocs/networking/windows-time-service/windows-server-2016-improvements.md
Labels: Windows Time Accuracy, do-not-merge, networking

#4293 Ambiguous configuration
  WindowsServerDocs/administration/performance-tuning/hardware/index.md
Labels: Change sent to author, administration, do-not-merge, performance-tuning-guide/tech, windows-server/prod

#5003 Identity/Securing privileged access: grammar
  WindowsServerDocs/identity/securing-privileged-access/securing-privileged-access.md
Labels: Change sent to author, do-not-merge, security, security/tech, windows-server/prod

#4937 web-client-whatsnew.md: Corrects a broken link
  WindowsServerDocs/remote/remote-desktop-services/clients/web-client-whatsnew.md
Labels: Change sent to author, do-not-merge, remote-desktop-services, remote-desktop-services/tech, windows-server/prod

#5012 Windows Admin Center: initial documentation for Azure Extended Network extension
  WindowsServerDocs/manage/windows-admin-center/azure/azure-extended-network.md
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/add-ipv4-addresses-panel-filled.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/add-ipv4-addresses-panel.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/add-ipv4-addresses.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/available-extensions.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/azure-extended-network-intro.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/azure-extended-network.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/azure-network-gateway.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/azure-network.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/installation-complete.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/installation-success.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/installed-extensions.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/on-premises-network-gateway.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/on-premises-network.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/settings.png
  WindowsServerDocs/manage/windows-admin-center/media/azure-extended-network/setup-complete.png
Labels: Change sent to author, do-not-merge, manage/tech, windows-server/prod

#5006 Update add-module.md
  WindowsServerDocs/manage/windows-admin-center/extend/guides/add-module.md
Labels: Change sent to author, WAC, do-not-merge, windows-admin-center/tech, windows-server/prod

#4752 WAC/Azure Extended Network: replace recursive URL
  WindowsServerDocs/manage/windows-admin-center/azure/index.md
Labels: Change sent to author, WAC, do-not-merge, windows-admin-center/tech, windows-server/prod

#5025 Typo correction: See slso >> See also
  WindowsServerDocs/storage/disk-management/extend-a-basic-volume.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#5048 Fix casing error in readme doc
  WindowsServerDocs/remote/remote-desktop-services/rds-run-and-tune.md
Labels: Change sent to author, do-not-merge, remote-desktop-services/tech, windows-server/prod

#5045 Typos, whitespace, and MarkDown formatting
  WindowsServerDocs/networking/sdn/deploy/Deploy-a-Software-Defined-Network-infrastructure-using-scripts.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#5038 manage-bde -pause: Add missing dash before `pause`
  WindowsServerDocs/administration/windows-commands/manage-bde-pause.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5046 removed word added Windows Remote Management
  WindowsServerDocs/administration/server-core/server-core-manage.md
Labels: Change sent to author, administration/tech, do-not-merge, windows-server/prod

#5017 Appendix H: show hidden placeholders (ref fa23beb)
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Appendix-H--Securing-Local-Administrator-Accounts-and-Groups.md
Labels: Change sent to author, ad-ds/tech, do-not-merge, windows-server/prod

#5035 Update pktmon.md
  WindowsServerDocs/networking/technologies/pktmon/pktmon.md
Labels: Change sent to author, networking/tech, ready-to-merge, windows-server/prod

#5042 Link URL restoration: 4be78b258ac1 follow-up
  WindowsServerDocs/remote/remote-desktop-services/clients/web-client-whatsnew.md
Labels: Change sent to author, do-not-merge, remote-desktop-services/tech, windows-server/prod

#5050 Update guarded-fabric-obtain-certs.md
  WindowsServerDocs/security/guarded-fabric-shielded-vm/guarded-fabric-obtain-certs.md
Labels: Change sent to author, ready-to-merge, security/tech, windows-server/prod

#5061 Update AD-FS-Rapid-Restore-Tool.md
  WindowsServerDocs/identity/ad-fs/operations/AD-FS-Rapid-Restore-Tool.md
Labels: Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5063 fixed syntax error in upgrading-to-ad-fs-in-windows-server.md
  WindowsServerDocs/identity/ad-fs/deployment/upgrading-to-ad-fs-in-windows-server.md
Labels: Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#3503 Added clarity about the need to import-module Clear-PhysicalDeskHealt…
  WindowsServerDocs/storage/storage-spaces/troubleshooting-storage-spaces.md
Labels: Change sent to author, storage, storage-spaces/tech, windows-server/prod
