Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2020-08, with the labels that each got.

#4656 Update What-s-New-in-DHCP.md
  WindowsServerDocs/networking/technologies/dhcp/What-s-New-in-DHCP.md
Labels: networking

#4709 Fixed critical typos in Powershell Examples
  WindowsServerDocs/storage/storage-spaces/deploy-standalone-storage-spaces.md
Labels: storage spaces direct

#4646 added words, made bold sentence
  WindowsServerDocs/remote/remote-desktop-services/clients/change-listening-port.md
Labels: remote-desktop-services

#4623 Update deploy-two-node-clustered-file-server.md
  WindowsServerDocs/failover-clustering/deploy-two-node-clustered-file-server.md
Labels: failover clustering

#4668 remove EOL Ubuntu releases, update repository configuration
  WindowsServerDocs/administration/Linux-Package-Repository-for-Microsoft-Software.md
Labels: administration

#4694 Update system-requirements.md
  EssentialsDocs/get-started/system-requirements.md
Labels: essentials

#4419 Update one statement
  WindowsServerDocs/get-started-19/servicing-channels-19.md
Labels: get started 19

#4692 Fix an incorrect code snippet in ad-fs-build-custom-auth-method.md
  WindowsServerDocs/identity/ad-fs/development/ad-fs-build-custom-auth-method.md
Labels: AD FS

#4604 Updating https:// references in schema links
  WindowsServerDocs/identity/ad-fs/development/ad-fs-build-custom-auth-method.md
Labels: AD FS

#4603 Add note about additional config for ClassicCompute VMs
  WindowsServerDocs/get-started/extended-security-updates.md
Labels: get-started 16
