Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2020-09, with the labels that each got.

#4765 Update Ubuntu-virtual-machines-on-Hyper-V.md
  WindowsServerDocs/virtualization/hyper-v/Supported-Ubuntu-virtual-machines-on-Hyper-V.md
Labels: virtualization

#4808 Update manage-cluster-quorum.md
  WindowsServerDocs/failover-clustering/manage-cluster-quorum.md
Labels: failover clustering

#4816 Updated the "detect" PowerShell statement
  WindowsServerDocs/storage/file-server/Troubleshoot/detect-enable-and-disable-smbv1-v2-v3.md
Labels: storage

#4601 Update rds_vdi-recommendations-1909.md
  WindowsServerDocs/remote/remote-desktop-services/rds_vdi-recommendations-1909.md
Labels: remote-desktop-services
