Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2020-12, with the labels that each got.

#5073 Update AD-FS-support-for-alternate-hostname-binding-for-certificate-a…
  WindowsServerDocs/identity/ad-fs/operations/AD-FS-support-for-alternate-hostname-binding-for-certificate-authentication.md
Labels: AD FS, Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5082 Update certutil.md
  WindowsServerDocs/administration/windows-commands/certutil.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5085 whats-new-in-storage - USB flash drive as a witness: Specifies direct links to relevant documentation
  WindowsServerDocs/storage/whats-new-in-storage.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#5086 Fixes #4819
  WindowsServerDocs/storage/file-server/Troubleshoot/detect-enable-and-disable-smbv1-v2-v3.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#5088 Corrects #4639
  WindowsServerDocs/remote/remote-desktop-services/clients/remote-desktop-allow-outside-access.md
Labels: Change sent to author, do-not-merge, remote-desktop-services/tech, windows-server/prod

#5089 Fixes #4635
  WindowsServerDocs/administration/windows-commands/mklink.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5016 Updating Branding from Azure ATP to MDI
  WindowsServerDocs/identity/securing-privileged-access/securing-privileged-access.md
Labels: Change sent to author, identity, ready-to-merge, security/tech, windows-server/prod

#5052 Updating doc with more information
  WindowsServerDocs/remote/remote-desktop-services/clients/change-listening-port.md
Labels: Change sent to author, do-not-merge, remote-desktop-services, remote-desktop-services/tech, windows-server/prod

#5091 Update What-s-New-in-DHCP.md
  WindowsServerDocs/networking/technologies/dhcp/What-s-New-in-DHCP.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#5097 Remove typo in sdn-security-top.md
  WindowsServerDocs/networking/sdn/security/sdn-security-top.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#4863 Update The-Role-of-Attribute-Stores.md
  WindowsServerDocs/identity/ad-fs/technical-reference/The-Role-of-Attribute-Stores.md
Labels: AD FS, Change sent to author, ad-fs/tech, ready-to-merge, windows-server/prod

#5098 Update Configure-AD-FS-Browser-WIA.md
  WindowsServerDocs/identity/ad-fs/operations/Configure-AD-FS-Browser-WIA.md
Labels: AD FS, Change sent to author, ad-fs/tech, ready-to-merge, windows-server/prod

#5056 Updating Doc: The Role of Configuration Database.
  WindowsServerDocs/identity/ad-fs/technical-reference/The-Role-of-the-AD-FS-Configuration-Database.md
Labels: AD FS, Change sent to author, ad-fs/tech, ready-to-merge, windows-server/prod

#4935 Update ad-fs-tshoot-initiatedsignon.md
  WindowsServerDocs/identity/ad-fs/troubleshooting/ad-fs-tshoot-initiatedsignon.md
Labels: AD FS, Change sent to author, ad-fs/tech, ready-to-merge, windows-server/prod

#5107 Update findstr.md
  WindowsServerDocs/administration/windows-commands/findstr.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5104 DiskPart/import: use correct URL
  WindowsServerDocs/administration/windows-commands/diskpart.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5116 Update RAS-Gateway.md
  WindowsServerDocs/remote/remote-access/ras-gateway/RAS-Gateway.md
Labels: Change sent to author, do-not-merge, remote/tech, windows-server/prod

#5114 Typo corrections, proofreading & whitespace
  WindowsServerDocs/administration/windows-server-update-services/deploy/2-configure-wsus.md
Labels: Change sent to author, do-not-merge, windows-server/prod, wsus/tech

#5118 Typo "**OK"→"**OK**."
  WindowsServerDocs/identity/ad-ds/get-started/adac/Introduction-to-Active-Directory-Administrative-Center-Enhancements--Level-100-.md
Labels: Change sent to author, ad-ds/tech, do-not-merge, windows-server/prod

#5110 Update Configure-AD-FS-Browser-WIA.md
  WindowsServerDocs/identity/ad-fs/operations/Configure-AD-FS-Browser-WIA.md
Labels: Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5112 Changed description of default wildcard characters
  WindowsServerDocs/administration/windows-commands/robocopy.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5117 Update Create-a-virtual-switch-for-Hyper-V-virtual-machines.md
  WindowsServerDocs/virtualization/hyper-v/get-started/Create-a-virtual-switch-for-Hyper-V-virtual-machines.md
Labels: Change sent to author, do-not-merge, hyper-v/tech, windows-server/prod
