Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2021-11, with the labels that each got.

#6044 fixing a typo
  WindowsServerDocs/networking/sdn/manage/Create-a-Tenant-VM.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#6041 Update server-core-app-compatibility-feature-on-demand.md
  WindowsServerDocs/get-started/server-core-app-compatibility-feature-on-demand.md
Labels: do-not-merge, Change sent to author, windows-server/prod, getting-started/tech

#5916 Update configure-ad-fs-and-azure-mfa.md
  WindowsServerDocs/identity/ad-fs/operations/configure-ad-fs-and-azure-mfa.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, ad-fs/tech

#5951 Update Publishing-Applications-with-SharePoint,-Exchange-and-RDG.md
  WindowsServerDocs/remote/remote-access/web-application-proxy/Publishing-Applications-with-SharePoint,-Exchange-and-RDG.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, remote/tech
