Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2021-01, with the labels that each got.

#5126 Windows Commands/repair-bde: add Warning note
  WindowsServerDocs/administration/windows-commands/repair-bde.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5161 Typo: Remove incorrect space.
  WindowsServerDocs/remote/remote-desktop-services/rds-vdi-recommendations.md
Labels: Change sent to author, do-not-merge, remote-desktop-services/tech, windows-server/prod

#5153 Update ad-fs-risk-assessment-model.md
  WindowsServerDocs/identity/ad-fs/development/ad-fs-risk-assessment-model.md
Labels: Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5152 Update accurate-time.md
  WindowsServerDocs/networking/windows-time-service/accurate-time.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#5144 Failover Clustering/Deploy: Set-ClusterQuorum link
  WindowsServerDocs/failover-clustering/deploy-cloud-witness.md
Labels: Change sent to author, do-not-merge, failover-clustering/tech, windows-server/prod

#5148 Add the "See Also" section with links to WSL FAQ
  WindowsServerDocs/administration/Linux-Package-Repository-for-Microsoft-Software.md
Labels: Change sent to author, administration, administration/tech, do-not-merge, windows-server/prod

#5182 Update iscsi-boot-overview.md
  WindowsServerDocs/storage/iscsi/iscsi-boot-overview.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#5184 typo correction
  WindowsServerDocs/administration/hybrid-cloud-print/hybrid-cloud-print-deploy.md
Labels: Change sent to author, administration/tech, do-not-merge, windows-server/prod

#5181 Deploy Folder Redirection: add missing permission
  WindowsServerDocs/storage/folder-redirection/deploy-folder-redirection.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#5180 Update Single-Page-Application-with-AD-FS.md
  WindowsServerDocs/identity/ad-fs/development/Single-Page-Application-with-AD-FS.md
Labels: Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5172 Update AD-FS-FAQ.md
  WindowsServerDocs/identity/ad-fs/overview/AD-FS-FAQ.md
Labels: AD FS, Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5185 Update upgrading-to-ad-fs-in-windows-server.md
  WindowsServerDocs/identity/ad-fs/deployment/upgrading-to-ad-fs-in-windows-server.md
Labels: Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5196 windows-commands: fix findstr example
  WindowsServerDocs/administration/windows-commands/findstr.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5194 Update Single-Page-Application-with-AD-FS.md
  WindowsServerDocs/identity/ad-fs/development/Single-Page-Application-with-AD-FS.md
Labels: Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5191 Adding SaRA tool link to check for AD Replication Problems
  WindowsServerDocs/identity/ad-ds/manage/troubleshoot/Troubleshooting-Active-Directory-Replication-Problems.md
Labels: Change sent to author, ad-ds/tech, do-not-merge, windows-server/prod

#5198 Quote character placement for findstr /c
  WindowsServerDocs/administration/windows-commands/findstr.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5218 Update storage-replica-frequently-asked-questions.md
  WindowsServerDocs/storage/storage-replica/storage-replica-frequently-asked-questions.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#5206 Update DirectAccess-Known-Issues.md
  WindowsServerDocs/remote/remote-access/directaccess/DirectAccess-Known-Issues.md
Labels: Change sent to author, do-not-merge, remote/tech, windows-server/prod

#5207 Update da-adv-plan-s1-infrastructure.md
  WindowsServerDocs/remote/remote-access/directaccess/single-server-advanced/da-adv-plan-s1-infrastructure.md
Labels: Change sent to author, do-not-merge, remote/tech, windows-server/prod

#5208 Update da-basic-plan-s1-infrastructure.md
  WindowsServerDocs/remote/remote-access/directaccess/single-server-wizard/da-basic-plan-s1-infrastructure.md
Labels: Change sent to author, do-not-merge, remote/tech, windows-server/prod

#5221 Add quotes to message containing spaces and commas
  WindowsServerDocs/administration/windows-commands/choice.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5216 Update Configuring-Alternate-Login-ID.md
  WindowsServerDocs/identity/ad-fs/operations/Configuring-Alternate-Login-ID.md
Labels: Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5212 Fix typo in robocopy.md
  WindowsServerDocs/administration/windows-commands/robocopy.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5238 Update forfiles.md
  WindowsServerDocs/administration/windows-commands/forfiles.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5230 Fix: 'Windows NT backup' to 'Windows Server Backup'
  WindowsServerDocs/storage/storage-spaces/Storage-Spaces-Direct-Disaster-Recovery.md
Labels: Change sent to author, ready-to-merge, storage-spaces/tech, windows-server/prod

#5240 Configure CEPCES02: "IISUsers" typo correction
  WindowsServerDocs/identity/solution-guides/certificate-enrollment-certificate-key-based-renewal.md
Labels: Change sent to author, ready-to-merge, security/tech, windows-server/prod

#5232 Update Determining-the-Cost.md
  WindowsServerDocs/identity/ad-ds/plan/Determining-the-Cost.md
Labels: Change sent to author, ad-ds/tech, do-not-merge, windows-server/prod

#5236 Typo "Azure blob storage"→"Azure Blob Storage"
  WindowsServerDocs/failover-clustering/manage-cluster-quorum.md
Labels: Change sent to author, do-not-merge, failover-clustering/tech, windows-server/prod

#5248 Update dfs-overview.md
  WindowsServerDocs/storage/dfs-namespaces/dfs-overview.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#5249 Storage QoS: "This setting affects all VMs"
  WindowsServerDocs/storage/storage-qos/storage-qos-overview.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod
