Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2021-09, with the labels that each got.

#5432 Update for signed CI policies warning Note
  WindowsServerDocs/security/guarded-fabric-shielded-vm/guarded-fabric-tpm-trusted-attestation-capturing-hardware.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, security/tech

#5439 Second location in registry where exist fDenyTSConnections
  WindowsServerDocs/remote/remote-desktop-services/troubleshoot/rdp-error-general-troubleshooting.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote-desktop-services/tech

#5442 Update run-best-practices-analyzer-scans-and-manage-scan-results.md
  WindowsServerDocs/administration/server-manager/run-best-practices-analyzer-scans-and-manage-scan-results.md
Labels: do-not-merge, Change sent to author, windows-server/prod, administration/tech

#5443 Update fsutil-wim.md
  WindowsServerDocs/administration/windows-commands/fsutil-wim.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#5444 fix: typo
  WindowsServerDocs/administration/windows-commands/windows-commands.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#5465 Fixed missing end quote.
  WindowsServerDocs/networking/dns/deploy/primary-geo-location.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#5473 Update xcopy.md
  WindowsServerDocs/administration/windows-commands/xcopy.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#5476 Remove reference to disabling/enabling RID-500
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Appendix-D--Securing-Built-In-Administrator-Accounts-in-Active-Directory.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech

#5480 Update pktmon.md
  WindowsServerDocs/administration/windows-commands/pktmon.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#5483 Fix incorrect separators option
  WindowsServerDocs/administration/windows-commands/dir.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#5484 Fix missing space between bolded text and regular text
  WindowsServerDocs/administration/windows-server-update-services/deploy/1-install-the-wsus-server-role.md
Labels: do-not-merge, Change sent to author, windows-server/prod, wsus/tech

#5488 Use GitHub link for RDSH Collection ARM Template
  WindowsServerDocs/remote/remote-desktop-services/rds-roles.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote-desktop-services/tech

#5489 Update additional-resources.md
  WindowsServerDocs/administration/performance-tuning/additional-resources.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, administration/tech

#5494 Update vpn-deploy-client-vpn-connections.md
  WindowsServerDocs/remote/remote-access/vpn/always-on-vpn/deploy/vpn-deploy-client-vpn-connections.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, remote/tech, sign-off

#5505 Warn about WS-Federation endpoints not working with idpinitiatedsignon
  WindowsServerDocs/identity/ad-fs/troubleshooting/ad-fs-tshoot-initiatedsignon.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech

#5508 Fix missed keyword
  WindowsServerDocs/security/group-managed-service-accounts/configure-kerberos-delegation-group-managed-service-accounts.md
Labels: do-not-merge, Change sent to author, windows-server/prod, security/tech

#5511 Correct incorrect reference to figure 5
  WindowsServerDocs/failover-clustering/deploy-cloud-witness.md
Labels: do-not-merge, Change sent to author, windows-server/prod, failover-clustering/tech

#5518 Adds if/else logic on firewalls and removes cmdlet alias
  WindowsServerDocs/administration/OpenSSH/OpenSSH_Install_FirstUse.md
Labels: do-not-merge, Change sent to author, windows-server/prod, administration/tech

#5544 Update virtual-machine-recs.md
  WindowsServerDocs/remote/remote-desktop-services/virtual-machine-recs.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote-desktop-services/tech

#5563 Per domain setting
  WindowsServerDocs/identity/ad-fs/operations/AD-FS-Prompt-Login.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech

#5581 Update change-listening-port.md as per #5580
  WindowsServerDocs/remote/remote-desktop-services/clients/change-listening-port.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote-desktop-services/tech

#5585 Update nslookup.md
  WindowsServerDocs/administration/windows-commands/nslookup.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#5594 removed duplicate registry keys
  WindowsServerDocs/remote/remote-desktop-services/rds-vdi-recommendations-2004.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote-desktop-services/tech

#5598 Update azure-hybrid-benefit.md
  WindowsServerDocs/get-started/azure-hybrid-benefit.md
Labels: do-not-merge, Change sent to author, windows-server/prod, getting-started/tech

#5896 Update vpn-deploy-client-vpn-connections.md
  WindowsServerDocs/remote/remote-access/vpn/always-on-vpn/deploy/vpn-deploy-client-vpn-connections.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote/tech

#5783 Update plan-your-wsus-deployment.md
  WindowsServerDocs/administration/windows-server-update-services/plan/plan-your-wsus-deployment.md
Labels: do-not-merge, Change sent to author, windows-server/prod, wsus/tech

#5618 Update deploy-cloud-witness.md
  WindowsServerDocs/failover-clustering/deploy-cloud-witness.md
Labels: do-not-merge, Change sent to author, windows-server/prod, failover-clustering/tech

#5626 Update Windows-Time-Service-Tools-and-Settings.md
  WindowsServerDocs/networking/windows-time-service/Windows-Time-Service-Tools-and-Settings.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#5627 Update schtasks.md
  WindowsServerDocs/administration/windows-commands/schtasks.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#5637 Update high-availability.md
  WindowsServerDocs/manage/windows-admin-center/deploy/high-availability.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-admin-center/tech

#5641 Update troubleshooting.md
  WindowsServerDocs/manage/windows-admin-center/support/troubleshooting.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-admin-center/tech

#5643 Update index.yml (spelling)
  WindowsServerDocs/remote/remote-access/vpn/always-on-vpn/index.yml
Labels: do-not-merge, Change sent to author

#5648 fix order of calls in enableextensions example
  WindowsServerDocs/administration/windows-commands/setlocal.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#5653 added ipv4 , ipv6 netsh commands
  WindowsServerDocs/networking/technologies/netsh/netsh-interface-portproxy.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#5655 Clarified path to event log for auditing
  WindowsServerDocs/security/credentials-protection-and-management/configuring-additional-lsa-protection.md
Labels: do-not-merge, Change sent to author, windows-server/prod, security/tech

#5657 Added a note to have CX's wait for SYNC process run on secondary AD F…
  WindowsServerDocs/identity/ad-fs/deployment/Best-Practices-Securing-AD-FS.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech

#5658 added two reference links
  WindowsServerDocs/administration/windows-commands/chcp.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#5662 Update nps-firewalls-configure.md
  WindowsServerDocs/networking/technologies/nps/nps-firewalls-configure.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech

#5671 Fixed link to blogpost - fixes #5670
  WindowsServerDocs/security/windows-services/security-guidelines-for-disabling-system-services-in-windows-server.md
Labels: do-not-merge, Change sent to author, windows-server/prod, security/tech

#5687 Add GreenRADIUS MFA as Add'l Authentication Method for AD FS
  WindowsServerDocs/identity/ad-fs/operations/Configure-Additional-Authentication-Methods-for-AD-FS.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech

#5688 Update break.md
  WindowsServerDocs/administration/windows-commands/break.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#5695 Update hostname.md
  WindowsServerDocs/administration/windows-commands/hostname.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech
