Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2021-10, with the labels that each got.

#5961 Update smb-over-quic.md
  WindowsServerDocs/storage/file-server/smb-over-quic.md
Labels: do-not-merge, Change sent to author, windows-server/prod, storage/tech

#5750 Update detect-enable-and-disable-smbv1-v2-v3.md
  WindowsServerDocs/storage/file-server/Troubleshoot/detect-enable-and-disable-smbv1-v2-v3.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, storage/tech

#5933 Update Identify-Your-AD-FS-Deployment-Goals.md
  WindowsServerDocs/identity/ad-fs/design/Identify-Your-AD-FS-Deployment-Goals.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech
