Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2021-06, with the labels that each got.

#4710 Updates: PS Command[ln250]; SQLite Install[ln293]
  WindowsServerDocs/administration/hybrid-cloud-print/hybrid-cloud-print-deploy.md
Labels: Change sent to author, administration, administration/tech, do-not-merge, windows-server/prod

#4632 added new screenshot and removed 1.`1 added 1.2
  WindowsServerDocs/security/tls/tls-registry-settings.md
Labels: Change sent to author, do-not-merge, security, security-tls-ssl/tech, security/tech, windows-server/prod

#4864 added notes and important remarks
  WindowsServerDocs/get-started-19/servicing-channels-19.md
Labels: Change sent to author, do-not-merge, get started 19, getting-started/tech, windows-server/prod

#5141 Add a caution for 2-node stretch clusters
  WindowsServerDocs/storage/storage-replica/Stretch-Cluster-Replication-Using-Shared-Storage.md
Labels: Change sent to author, do-not-merge, storage, storage/tech, windows-server/prod

#5146 Update Create-a-Tenant-VM.md
  WindowsServerDocs/networking/sdn/manage/Create-a-Tenant-VM.md
Labels: Change sent to author, do-not-merge, networking, networking/tech, windows-server/prod

#5160 Fixes typo (left should be right).
  WindowsServerDocs/remote/remote-desktop-services/rds-vdi-recommendations.md
Labels: Change sent to author, do-not-merge, remote-desktop-services, remote-desktop-services/tech, windows-server/prod

#5162 Changes to disable short name generation.
  WindowsServerDocs/remote/remote-desktop-services/rds-vdi-recommendations.md
Labels: Change sent to author, do-not-merge, remote-desktop-services, remote-desktop-services/tech, windows-server/prod

#5169 Add note about package repositories, and add Debian instructions
  WindowsServerDocs/administration/Linux-Package-Repository-for-Microsoft-Software.md
Labels: Change sent to author, administration/tech, do-not-merge, linux, windows-server/prod

#5203 apt-key is getting deprecated
  WindowsServerDocs/administration/Linux-Package-Repository-for-Microsoft-Software.md
Labels: Change sent to author, administration/tech, do-not-merge, linux, windows-server/prod

#5215 Fix error on "other redirection" table regarding android supported features
  WindowsServerDocs/remote/remote-desktop-services/clients/remote-desktop-app-compare.md
Labels: Change sent to author, do-not-merge, remote-desktop-services, remote-desktop-services/tech, windows-server/prod

#5222 Renamed some command parameters
  WindowsServerDocs/storage/storage-spaces/troubleshooting-storage-spaces.md
Labels: Change sent to author, do-not-merge, storage spaces direct, storage-spaces/tech, windows-server/prod

#5256 Update web-client-whatsnew.md
  WindowsServerDocs/remote/remote-desktop-services/clients/web-client-whatsnew.md
Labels: Change sent to author, do-not-merge, remote-desktop-services, remote-desktop-services/tech, windows-server/prod

#5286 Update ad-fs-requirements.md
  WindowsServerDocs/identity/ad-fs/overview/ad-fs-requirements.md
Labels: AD FS, Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5329 Update rem.md
  WindowsServerDocs/administration/windows-commands/rem.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5352 Add tracing support for Win10 1903 and later
  WindowsServerDocs/storage/folder-redirection/troubleshoot-user-profiles-events.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#5353 Update gpresult.md
  WindowsServerDocs/administration/windows-commands/gpresult.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5357 Update robocopy.md
  WindowsServerDocs/administration/windows-commands/robocopy.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5361 added NPS link , added abbreviation
  WindowsServerDocs/networking/core-network-guide/cncg/server-certs/Refresh-Group-Policy.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#5366 Update Configure-AD-FS-Extranet-Smart-Lockout-Protection.md
  WindowsServerDocs/identity/ad-fs/operations/Configure-AD-FS-Extranet-Smart-Lockout-Protection.md
Labels: Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5381 Update plan-work-folders.md
  WindowsServerDocs/storage/work-folders/plan-work-folders.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#5382 Update configure-email-notifications.md
  WindowsServerDocs/storage/fsrm/configure-email-notifications.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server/prod

#5383 wsus-and-the-catalog-site -> Add URL
  WindowsServerDocs/administration/windows-server-update-services/manage/wsus-and-the-catalog-site.md
Labels: Change sent to author, do-not-merge, windows-server/prod, wsus/tech

#5384 Update ad-fs-tshoot-logging.md
  WindowsServerDocs/identity/ad-fs/troubleshooting/ad-fs-tshoot-logging.md
Labels: Change sent to author, ad-fs/tech, do-not-merge, windows-server/prod

#5387 Update Set-up-Hyper-V-Replica.md
  WindowsServerDocs/virtualization/hyper-v/manage/Set-up-Hyper-V-Replica.md
Labels: Change sent to author, do-not-merge, hyper-v/tech, windows-server/prod

#5402 Update capacity-planning-for-active-directory-domain-services.md
  WindowsServerDocs/administration/performance-tuning/role/active-directory-server/capacity-planning-for-active-directory-domain-services.md
Labels: Change sent to author, administration/tech, ready-to-merge, sign-off, windows-server/prod

#5428 Update shift.md example
  WindowsServerDocs/administration/windows-commands/shift.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#4773 technical update to Feature on Demand
  WindowsServerDocs/administration/server-core/what-is-server-core.md
Labels: Change sent to author, administration/tech, do-not-merge, server-core, windows-server/prod
