Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2021-02, with the labels that each got.

#5274 Update cmdkey.md - fix backtick placement in delete
  WindowsServerDocs/administration/windows-commands/cmdkey.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5275 Update robocopy options
  WindowsServerDocs/administration/windows-commands/robocopy.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5273 TLG Multisite Test Lab: replace assetid:/// links
  WindowsServerDocs/remote/remote-access/directaccess/tlg-multisite/Steps-for-Configuring-the-Test-Lab-4.md
Labels: Change sent to author, do-not-merge, remote/tech, windows-server/prod

#5261 removed the repeated "2016"
  WindowsServerDocs/networking/sdn/technologies/hyper-v-network-virtualization/hyperv-network-virtualization-overview-windows-server.md
Labels: Change sent to author, do-not-merge, networking/tech, windows-server/prod

#5251 Just fixing a Typo ;)
  WindowsServerDocs/identity/ad-ds/plan/Evaluating-AD-DS-Deployment-Strategy-Examples.md
Labels: Change sent to author, ad-ds/tech, do-not-merge, windows-server/prod

#5288 typo correction
  WindowsServerDocs/administration/windows-commands/pushd.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5287 typo correction
  WindowsServerDocs/administration/windows-commands/certreq_1.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5277 VMConnect: add Server 2019, grammar & codestyle
  WindowsServerDocs/virtualization/hyper-v/learn-more/hyper-v-virtual-machine-connect.md
Labels: Change sent to author, do-not-merge, hyper-v/tech, windows-server/prod

#5295 Correction to SUM folder path - Update manage-user-access-logging.md
  WindowsServerDocs/administration/user-access-logging/manage-user-access-logging.md
Labels: Change sent to author, administration/tech, do-not-merge, windows-server/prod

#5289 typo correction
  WindowsServerDocs/administration/windows-commands/popd.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#5151 Windows Commands/extract: add info about Extrac32
  WindowsServerDocs/administration/windows-commands/extract.md
Labels: Change sent to author, do-not-merge, windows-commands, windows-commands/tech, windows-server/prod

#5159 Update troubleshooting-cluster-event-id-1135.md
  WindowsServerDocs/troubleshoot/troubleshooting-cluster-event-id-1135.md
Labels: Change sent to author, do-not-merge, troubleshoot/tech, windows-server/prod

#5283 Update last release date.
  WindowsServerDocs/remote/remote-desktop-services/clients/mac-whatsnew.md
Labels: Change sent to author, do-not-merge, remote-desktop-services, remote-desktop-services/tech, windows-server/prod

#5257 Update remote-desktop-web-client.md
  WindowsServerDocs/remote/remote-desktop-services/clients/remote-desktop-web-client.md
Labels: Change sent to author, do-not-merge, remote-desktop-services, remote-desktop-services/tech, windows-server/prod

#5305 added vertical bar
  WindowsServerDocs/administration/windows-commands/cmd.md
Labels: Change sent to author, do-not-merge, windows-commands/tech, windows-server/prod

#4913 Update server-core-roles-and-services.md
  WindowsServerDocs/administration/server-core/server-core-roles-and-services.md
Labels: Change sent to author, administration/tech, do-not-merge, server-core, windows-server/prod

#5309 Fix wrong date format for Windows Server 2004
  WindowsServerDocs/get-started/windows-server-release-info.md
Labels: Change sent to author, do-not-merge, getting-started/tech, windows-server/prod
