Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2022-04, with the labels that each got.

#6394 Removed unnecessary blanks.
  WindowsServerDocs/identity/ad-fs/overview/ad-fs-requirements.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech

#6322 Fix broken code block
  WindowsServerDocs/storage/data-deduplication/install-enable.md
Labels: do-not-merge, Change sent to author

#5757 Fix incorrect unrevoke index
  WindowsServerDocs/administration/windows-commands/certutil.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#6400 Fix a typo in ADFS confdb section title
  WindowsServerDocs/identity/ad-fs/technical-reference/The-Role-of-the-AD-FS-Configuration-Database.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech

#6419 Update remote-desktop-android.md
  WindowsServerDocs/remote/remote-desktop-services/clients/remote-desktop-android.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, remote-desktop-services/tech

#6320 Bad folder name
  WindowsServerDocs/administration/OpenSSH/OpenSSH_Server_Configuration.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, administration/tech
