Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2022-08, with the labels that each got.

#6383 Typo in New-Volume command
  WindowsServerDocs/storage/refs/mirror-accelerated-parity.md
Labels: do-not-merge, Change sent to author, windows-server/prod, storage/tech

#6401 Fix language errors in AD FS confdb
  WindowsServerDocs/identity/ad-fs/technical-reference/The-Role-of-the-AD-FS-Configuration-Database.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech

#6410 fix typo: "implemeted" => "implemented"
  WindowsServerDocs/administration/windows-commands/fc.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech

#6307 Fix typo - spelling
  WindowsServerDocs/administration/windows-commands/find.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech
