Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2022-01, with the labels that each got.

#6111 Update create-the-key-distribution-services-kds-root-key.md
  WindowsServerDocs/security/group-managed-service-accounts/create-the-key-distribution-services-kds-root-key.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, security/tech

#6149 Minor fixes
  WindowsServerDocs/get-started/whats-new-in-windows-server-2022.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, getting-started/tech

#6183 Converted toc.yml from existing toc.md
  WindowsServerDocs/failover-clustering/toc.yml
Labels: do-not-merge, review-team-triage

#6206 Update input-method-editor-error.md
  WindowsServerDocs/remote/remote-desktop-services/troubleshoot/input-method-editor-error.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote-desktop-services/tech
