Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2022-12, with the labels that each got.

#6825 Update typeperf.md
  WindowsServerDocs/administration/windows-commands/typeperf.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge

#6802 Typo "Azure Files Sync"→"Azure File Sync"
  WindowsServerDocs/storage/storage-migration-service/migrate-data.md
Labels: do-not-merge, Change sent to author, windows-server/prod, storage/tech, qualifies-for-auto-merge

#6779 Update managing-wsus-client-computers-and-wsus-computer-groups.md
  WindowsServerDocs/administration/windows-server-update-services/manage/managing-wsus-client-computers-and-wsus-computer-groups.md
Labels: do-not-merge, Change sent to author, windows-server/prod, wsus/tech, needs-human-review

#6655 Update Introducing-MultiPoint-services.md
  WindowsServerDocs/remote/multipoint-services/Introducing-MultiPoint-services.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote/tech

#6517 Update pktmon-wac-extension.md
  WindowsServerDocs/networking/technologies/pktmon/pktmon-wac-extension.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, networking/tech

#6637 Adding a period to the end of the first paragraph
  WindowsServerDocs/identity/ad-fs/operations/Configure-AD-FS-Extranet-Soft-Lockout-Protection.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech

#6392 Added alternative solution to known-issues.md
  WindowsServerDocs/storage/storage-migration-service/known-issues.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, storage/tech

#6514 Fixed typo
  WindowsServerDocs/manage/windows-admin-center/configure/user-access-control.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-admin-center/tech

#6509 Fix typo in DHCP Troubleshooting description
  WindowsServerDocs/troubleshoot/troubleshoot-dhcp-issue.md
Labels: do-not-merge, Change sent to author, windows-server/prod, troubleshoot/tech
