Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2023-05, with the labels that each got.

#6947 Acrolinx quality improvements: nodes-failover-cluster-vmware.md
  WindowsServerDocs/troubleshoot/nodes-failover-cluster-vmware.md
Labels: do-not-merge, Change sent to author, windows-server/prod, troubleshoot/tech, needs-human-review, aq-pr-triaged

#7164 gsoler3 Acrolinx quality push: configure-ad-fs-banned-ip.md
  WindowsServerDocs/identity/ad-fs/operations/Configure-AD-FS-Banned-IP.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, needs-human-review, aq-pr-triaged

#7168 gsoler3 Acrolinx quality push: paginated-sign-in.md
  WindowsServerDocs/identity/ad-fs/operations/AD-FS-paginated-sign-in.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, needs-human-review, aq-pr-triaged

#7169 gsoler3 Acrolinx quality push: troubleshoot-firmware-update.md
  WindowsServerDocs/storage/troubleshoot-firmware-update.md
Labels: do-not-merge, Change sent to author, windows-server/prod, storage/tech, needs-human-review, aq-pr-triaged

#7178 gsoler3 Acrolinx quality push: add-module.md
  WindowsServerDocs/manage/windows-admin-center/extend/guides/add-module.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-admin-center/tech, needs-human-review, aq-pr-triaged

#7190 gsoler3 Acrolinx quality push: additional-authentication-methods-ad-f…
  WindowsServerDocs/identity/ad-fs/operations/Additional-Authentication-Methods-AD-FS.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, needs-human-review, aq-pr-triaged

#7189 gsoler3 Acrolinx quality push: delegate-ad-fs-pshell-access.md
  WindowsServerDocs/identity/ad-fs/operations/delegate-ad-fs-pshell-access.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, needs-human-review, aq-pr-triaged

#7163 gsoler3 Acrolinx quality push: winnt.md
  WindowsServerDocs/administration/windows-commands/winnt.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#7162 gsoler3 Acrolinx quality push: ntbackup.md
  WindowsServerDocs/administration/windows-commands/ntbackup.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#7161 gsoler3 Acrolinx quality push: ksetup-addrealmflags.md
  WindowsServerDocs/administration/windows-commands/ksetup-addrealmflags.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#7177 gsoler3 Acrolinx quality push: troubleshoot-software-restriction-poli…
  WindowsServerDocs/identity/software-restriction-policies/troubleshoot-software-restriction-policies.md
Labels: do-not-merge, Change sent to author, windows-server/prod, security/tech, needs-human-review, aq-pr-triaged

#7185 gsoler3 Acrolink quality push: ad-fs-diagnostics-analyzer.md
  WindowsServerDocs/identity/ad-fs/troubleshooting/ad-fs-diagnostics-analyzer.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, needs-human-review, aq-pr-triaged

#7156 gsoler3 Acrolinx quality push: winsat-mem.md
  WindowsServerDocs/administration/windows-commands/winsat-mem.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#7172 gsoler3 Acrolinx quality push: netsh-mbn.md
  WindowsServerDocs/networking/technologies/netsh/netsh-mbn.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, qualifies-for-auto-merge, aq-pr-triaged

#7160 gsoler3 Acrolinx quality push: format.md
  WindowsServerDocs/administration/windows-commands/format.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#7187 gsoler3 Acrolinx quality push: service-communications-certificates.md
  WindowsServerDocs/identity/ad-fs/design/Service-Communications-Certificates.md
Labels: do-not-merge, Change sent to author, ad-fs/tech, needs-human-review, aq-pr-triaged

#7182 gsoler3 Acrolinx quality push: how-LDAP-server-cookies-handled.md
  WindowsServerDocs/identity/ad-ds/manage/How-LDAP-Server-Cookies-Are-Handled.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech, needs-human-review, aq-pr-triaged

#7260 Update dcdiag.md
  WindowsServerDocs/administration/windows-commands/dcdiag.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7165 gsoler3 Acrolinx quality push: the-server-cleanup-wizard.md
  WindowsServerDocs/administration/windows-server-update-services/manage/the-server-cleanup-wizard.md
Labels: do-not-merge, Change sent to author, windows-server/prod, wsus/tech, needs-human-review, aq-pr-triaged

#7148 gsoler2 Acrolinx quality push: slb-gateway-performance.md
  WindowsServerDocs/administration/performance-tuning/subsystem/software-defined-networking/slb-gateway-performance.md
Labels: do-not-merge, Change sent to author, windows-server/prod, administration/tech, qualifies-for-auto-merge, aq-pr-triaged

#7146 gsoler2 Acrolinx quality push: bitsadmin-util-and-help.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-util-and-help.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7143 gsoler2 Acrolinx quality push: auditpol-remove.md
  WindowsServerDocs/administration/windows-commands/auditpol-remove.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7142 gsoler2 Acrolinx quality push: auditpol-backup.md
  WindowsServerDocs/administration/windows-commands/auditpol-backup.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7141 gsoler2 Acrolinx qulaity push: bitsadmin-rawreturn.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-rawreturn.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7139 gsoler2 Acrolinx quality push: bitsadmin-peers-and-clear.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-peers-and-clear.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7137 gsoler2 Acrolinx quality push: bitsadmin-getstate.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-getstate.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#7135 gsoler2 Acrolinx quality push: hcn-declaration-handles.md
  WindowsServerDocs/networking/technologies/hcn/hcn-declaration-handles.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, qualifies-for-auto-merge, aq-pr-triaged

#7134 gsoler2 Acrolinx quality push: wscript.md
  WindowsServerDocs/administration/windows-commands/wscript.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7133 gsoler2 Acolinx quality push: Multi-factor-authentication-and-externa…
  WindowsServerDocs/identity/ad-fs/operations/Multi-factor-authentication-and-external-auth-providers-customization.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, needs-human-review, aq-pr-triaged

#7132 gsoler2 Acrolinx quality push: Install-MultiPoint-services.md
  WindowsServerDocs/remote/multipoint-services/Install-MultiPoint-services.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote/tech, needs-human-review, aq-pr-triaged

#7131 gsoler2 Acrolinx quality push: gettype.md
  WindowsServerDocs/administration/windows-commands/gettype.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7130 gsoler2 Acrolinx quality push: bitsadmin-peercaching-and-help.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-peercaching-and-help.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7128 gsoler2 Acrolinx quality push: AD-Forest-Recovery-Verify-Replication.md
  WindowsServerDocs/identity/ad-ds/manage/AD-Forest-Recovery-Verify-Replication.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech, qualifies-for-auto-merge, aq-pr-triaged

#7147 gsoler2 Acrolinx quality push: ad-fs-tshoot-certs.md
  WindowsServerDocs/identity/ad-fs/troubleshooting/ad-fs-tshoot-certs.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, qualifies-for-auto-merge, aq-pr-triaged

#7149 gsoler2 Acrolinx quality improvements: Forest-Wide-Updates.md
  WindowsServerDocs/identity/ad-ds/deploy/RODC/Forest-Wide-Updates.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech, qualifies-for-auto-merge, aq-pr-triaged

#7123 Gsoler2 determining the cost.md acrolinx
  WindowsServerDocs/identity/ad-ds/plan/Determining-the-Cost.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech, qualifies-for-auto-merge, aq-pr-triaged

#7126 Arolinx quality push:gsoler2-Site-Functions.md-acrolinx2
  WindowsServerDocs/identity/ad-ds/plan/Site-Functions.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech, needs-human-review, aq-pr-triaged

#7127 gsoler2 Acrolinx quality push: Planning-for-Compromise.md
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Planning-for-Compromise.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech, needs-human-review, aq-pr-triaged

#7152 gsoler2 Acrolinx quality push: modify-root-navigation.md
  WindowsServerDocs/manage/windows-admin-center/extend/guides/modify-root-navigation.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-admin-center/tech, qualifies-for-auto-merge, aq-pr-triaged
