Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2023-01, with the labels that each got.

#6938 Update anycast.md
  WindowsServerDocs/networking/dns/deploy/anycast.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, qualifies-for-auto-merge, aq-pr-triaged

#6881 formatting issue
  WindowsServerDocs/troubleshoot/dynamic-host-configuration-protocol-basics.md
Labels: do-not-merge, Change sent to author, windows-server/prod, troubleshoot/tech, qualifies-for-auto-merge, aq-pr-triaged

#6798 added fsutil in 3 commands
  WindowsServerDocs/administration/windows-commands/fsutil-fsinfo.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#6867 Add statement for initial after gui installation
  WindowsServerDocs/administration/OpenSSH/OpenSSH_Install_FirstUse.md
Labels: do-not-merge, Change sent to author, windows-server/prod, administration/tech, qualifies-for-auto-merge, aq-pr-triaged

#6885 Update Troubleshooting-Web-Application-Proxy.md
  WindowsServerDocs/remote/remote-access/web-application-proxy/Troubleshooting-Web-Application-Proxy.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote/tech, qualifies-for-auto-merge, aq-pr-triaged

#6781 Update wsus-and-the-catalog-site.md
  WindowsServerDocs/administration/windows-server-update-services/manage/wsus-and-the-catalog-site.md
Labels: do-not-merge, Change sent to author, windows-server/prod, wsus/tech, needs-human-review, aq-pr-triaged

#6782 Update wsus-messages-and-troubleshooting-tips.md
  WindowsServerDocs/administration/windows-server-update-services/manage/wsus-messages-and-troubleshooting-tips.md
Labels: do-not-merge, Change sent to author, windows-server/prod, wsus/tech, needs-human-review, aq-pr-triaged

#6783 Update express-update-delivery-isv-support.md
  WindowsServerDocs/administration/windows-server-update-services/deploy/express-update-delivery-isv-support.md
Labels: do-not-merge, Change sent to author, windows-server/prod, wsus/tech, needs-human-review, aq-pr-triaged

#6807 Fix file path when creating the file in notepad
  WindowsServerDocs/networking/core-network-guide/cncg/server-certs/Prepare-the-CAPolicy-inf-File.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, qualifies-for-auto-merge, aq-pr-triaged

#6583 Update testing results blog article URL
  WindowsServerDocs/networking/sdn/gateway-performance.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, aq-pr-triaged

#6956 typo correction
  WindowsServerDocs/manage/windows-admin-center/plan/user-access-options.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-admin-center/tech, qualifies-for-auto-merge, aq-pr-triaged

#6780 Update viewing-and-managing-updates.md
  WindowsServerDocs/administration/windows-server-update-services/manage/viewing-and-managing-updates.md
Labels: do-not-merge, Change sent to author, windows-server/prod, wsus/tech, needs-human-review, aq-pr-triaged

#6854 Update software-restriction-policies.md
  WindowsServerDocs/identity/software-restriction-policies/software-restriction-policies.md
Labels: do-not-merge, Change sent to author, windows-server/prod, security/tech, aq-pr-triaged

#6905 EffectiveTime - delay is 10 *days*
  WindowsServerDocs/security/group-managed-service-accounts/create-the-key-distribution-services-kds-root-key.md
Labels: do-not-merge, Change sent to author, windows-server/prod, security/tech, qualifies-for-auto-merge, aq-pr-triaged

#6968 Acrolinx quality improvements: peers-and-clear.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-peers-and-clear.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6969 Acrolinx quality improvements: peers-and-discover.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-peers-and-discover.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6971 Acrolinx quality improvements: bitsadmin-rawreturn.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-rawreturn.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6978 Acrolinx quality improvements: Install-MultiPoint-services.md
  WindowsServerDocs/remote/multipoint-services/Install-MultiPoint-services.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote/tech, needs-human-review, aq-pr-triaged

#6977 /lp Edit
  WindowsServerDocs/administration/windows-commands/msiexec.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#6979 Acrolinx quality improvements: Multi-factor-authentication-and-extern…
  WindowsServerDocs/identity/ad-fs/operations/Multi-factor-authentication-and-external-auth-providers-customization.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, needs-human-review, aq-pr-triaged

#6981 Acrolinx quality improvements: wscript.md
  WindowsServerDocs/administration/windows-commands/wscript.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6967 Acrolinx quality improvements: bitsadmin-help.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-help.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, aq-pr-triaged

#6986 Acrolinx quality improvements: troubleshoot.md
  WindowsServerDocs/administration/performance-tuning/role/active-directory-server/troubleshoot.md
Labels: do-not-merge, Change sent to author, windows-server/prod, administration/tech, needs-human-review, aq-pr-triaged

#6987 Acrolinx quality improvements: bitsadmin-peercaching-and-help.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-peercaching-and-help.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6989 Acrolinx quality improvements: gettype.md
  WindowsServerDocs/administration/windows-commands/gettype.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6984 Acrolinx quality improvements: hcn-declaration-handles
  WindowsServerDocs/networking/technologies/hcn/hcn-declaration-handles.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, needs-human-review, aq-pr-triaged

#6941 Acrolinx quality improvements3: auditpol-backup.md
  WindowsServerDocs/administration/windows-commands/auditpol-backup.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6942 Acrolinx quality improvements: auditpol-remove.md
  WindowsServerDocs/administration/windows-commands/auditpol-remove.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6943 Acrolinx quality improvements: auditpol-bitsadmin-cache-and-getlimit.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-cache-and-getlimit.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-getproxybypasslist.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6945 Acrolinx quality improvements: bitsadmin-util-and-help.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-util-and-help.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6948 Acrolinx quality improvements: bitsadmin-cache-clear.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-cache-clear.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6997 Acrolinx quality improvements: modify-root-navigation.md
  WindowsServerDocs/manage/windows-admin-center/extend/guides/modify-root-navigation.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-admin-center/tech, needs-human-review, aq-pr-triaged

#6973 Acrolinx quality improvements: slb-gateway-performance.md
  WindowsServerDocs/administration/performance-tuning/subsystem/software-defined-networking/slb-gateway-performance.md
Labels: do-not-merge, Change sent to author, windows-server/prod, administration/tech, needs-human-review, aq-pr-triaged

#6993 Acrolinx quality improvements: inuse.md
  WindowsServerDocs/administration/windows-commands/inuse.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged
