Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2023-04, with the labels that each got.

#7202 Update ad-fs-to-azure-ad-faq.md
  WindowsServerDocs/identity/ad-fs/decommission/ad-fs-to-azure-ad-faq.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, ad-fs/tech, qualifies-for-auto-merge, aq-pr-triaged

#7213 Update ad-fs-decommission.md
  WindowsServerDocs/identity/ad-fs/ad-fs-decommission.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, qualifies-for-auto-merge

#7244 Update manage-dns-zones.md
  WindowsServerDocs/networking/dns/manage-dns-zones.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, networking/tech, qualifies-for-auto-merge

#7243 Update zone-types.md
  WindowsServerDocs/networking/dns/zone-types.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, networking/tech, qualifies-for-auto-merge

#6995 Acrolinx quality improvements: AD-FS-supportfor-alternate-hitname-bin…
  WindowsServerDocs/identity/ad-fs/operations/AD-FS-support-for-alternate-hostname-binding-for-certificate-authentication.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, aq-pr-triaged

#6587 Fix relative links and general formatting
  WindowsServerDocs/identity/ad-ds/deploy/AD-DS-Installation-and-Removal-Wizard-Page-Descriptions.md
  WindowsServerDocs/identity/ad-ds/deploy/Install-Active-Directory-Domain-Services--Level-100-.md
  WindowsServerDocs/identity/ad-ds/get-started/virtual-dc/Virtualized-Domain-Controller-Architecture.md
  WindowsServerDocs/identity/ad-ds/get-started/virtual-dc/Virtualized-Domain-Controller-Deployment-and-Configuration.md
  WindowsServerDocs/identity/ad-ds/manage/Managing-RID-Issuance.md
  WindowsServerDocs/identity/ad-ds/manage/component-updates/Active-Directory-Domain-Services-Component-Updates.md
  WindowsServerDocs/identity/ad-ds/manage/component-updates/Directory-Services-component-updates.md
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Avenues-to-Compromise.md
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Implementing-Least-Privilege-Administrative-Models.md
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Planning-for-Compromise.md
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Reducing-the-Active-Directory-Attack-Surface.md
  WindowsServerDocs/identity/ad-ds/reference/virtual-dc/Virtualized-Domain-Controller-Technical-Reference-Appendix.md
  WindowsServerDocs/manage/windows-admin-center/extend/guides/upgrade-to-angular-11.md
  WindowsServerDocs/manage/windows-admin-center/overview.md
  WindowsServerDocs/manage/windows-admin-center/use/manage-hyper-converged.md
  WindowsServerDocs/networking/core-network-guide/cncg/wireless/a-deploy-8021X-wireless-access.md
  WindowsServerDocs/networking/sdn/technologies/hyper-v-network-virtualization/whats-new-hyperv-network-virtualization-windows-server.md
  WindowsServerDocs/networking/technologies/ipam/What-s-New-in-IPAM.md
  WindowsServerDocs/remote/remote-access/directaccess/single-server-wizard/Deploy-a-Single-DirectAccess-Server-Using-the-Getting-Started-Wizard.md
  WindowsServerDocs/remote/remote-desktop-services/rds-vdi-recommendations-1803.md
  WindowsServerDocs/remote/remote-desktop-services/rds_vdi-recommendations-1909.md
  WindowsServerDocs/troubleshoot/how-to-determine-the-minimum-staging-area-dfsr-needs-for-a-replicated-folder.md
  WindowsServerDocs/virtualization/hyper-v/manage/processor-compatibility-mode-hyper-v.md
Labels: do-not-merge, Change sent to author, windows-server/prod, manage/tech, needs-human-review, aq-pr-triaged
