Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2023-08, with the labels that each got.

#7417 Fixing typo
  WindowsServerDocs/manage/windows-admin-center/plan/installation-options.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-admin-center/tech, qualifies-for-auto-merge, aq-pr-triaged

#7388 Update How-to-Configure-Protected-Accounts.md
  WindowsServerDocs/identity/ad-ds/manage/How-to-Configure-Protected-Accounts.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech, qualifies-for-auto-merge, aq-pr-triaged

#7339 gsoler_new_DHCP scopes_conceptual
  WindowsServerDocs/networking/technologies/dhcp/dhcp-scopes.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, aq-pr-triaged

#7375 incorporated managing scope options
  WindowsServerDocs/networking/technologies/dhcp/quickstart-install-configure-dhcp-server.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, aq-pr-triaged

#7483 Fix typo in ksetup-addhosttorealmmap.md
  WindowsServerDocs/administration/windows-commands/ksetup-addhosttorealmmap.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged
