Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2023-02, with the labels that each got.

#6985 Acrolinx quality improvements: ad-fs-single-sign-on-settings.md
  WindowsServerDocs/identity/ad-fs/operations/ad-fs-single-sign-on-settings.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, needs-human-review, aq-pr-triaged

#6970 Acrolinx quality improvements: bitsadmin-peers-and-list.md
  WindowsServerDocs/administration/windows-commands/bitsadmin-peers-and-list.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, needs-human-review, aq-pr-triaged

#6996 Acrolinx quality improvements: Walkthrough-Guide--Manage-Risk-with-Ad…
  WindowsServerDocs/identity/ad-fs/operations/Walkthrough-Guide--Manage-Risk-with-Additional-Multi-Factor-Authentication-for-Sensitive-Applications.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, needs-human-review, aq-pr-triaged

#7050 Fix spacing
  WindowsServerDocs/identity/ad-ds/manage/How-LDAP-Server-Cookies-Are-Handled.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech, qualifies-for-auto-merge, aq-pr-triaged

#7043 Acrolinx quality improvements: Monitoring-Active-Directory-for-Signs-…of-Compromise.md
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Monitoring-Active-Directory-for-Signs-of-Compromise.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech, needs-human-review, aq-pr-triaged

#7074 Update Cluster-Affinity.md
  WindowsServerDocs/failover-clustering/Cluster-Affinity.md
Labels: do-not-merge, Change sent to author, windows-server/prod, failover-clustering/tech, qualifies-for-auto-merge
