Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2024-09, with the labels that each got.

#7864 Change Ed25519 recommendation to ECDSA
  WindowsServerDocs/administration/OpenSSH/OpenSSH_KeyManagement.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, administration/subsvc

#7928 Adding Win11 24H2 as a client OS
  WindowsServerDocs/identity/laps/laps-management-policy-settings.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, security/subsvc

#7930 Adding Win11 24H2 alongside Sever 2025
  WindowsServerDocs/identity/laps/laps-concepts-account-management-modes.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, security/subsvc

#7929 Adding Win1124 H2 OS alongside Server 2025
  WindowsServerDocs/identity/laps/laps-concepts-passwords-passphrases.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, security/subsvc

#7934 Fix typo in Plan-for-Deploying-Devices-using-Discrete-Device-Assignment.md
  WindowsServerDocs/virtualization/hyper-v/plan/Plan-for-Deploying-Devices-using-Discrete-Device-Assignment.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, hyper-v/subsvc
