Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2024-04, with the labels that each got.

#7812 fix - Fixed note rendering for redirect printing
  WindowsServerDocs/administration/windows-commands/mode.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, administration/subsvc

#7828 Fix multiple typos in claim types and values in whats-new-active-directory-federation-services-windows-server.md
  WindowsServerDocs/identity/ad-fs/overview/whats-new-active-directory-federation-services-windows-server.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, security/subsvc

#7819 Removed hardware example per request
  WindowsServerDocs/failover-clustering/file-share-witness.md
  WindowsServerDocs/storage/whats-new-in-storage.md
Labels: do-not-merge, Change sent to author, needs-human-review, aq-pr-triaged, windows-server/svc, failover-clustering/subsvc

#7816 Update upgrading-to-ad-fs-in-windows-server.md
  WindowsServerDocs/identity/ad-fs/deployment/upgrading-to-ad-fs-in-windows-server.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, security/subsvc

#7810 Fix script error
  WindowsServerDocs/identity/ad-fs/deployment/Install-AD-FS-Delegated-Admin.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, security/subsvc
