Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2024-01, with the labels that each got.

#7364 Gsoler dhc pserver relay agent
  WindowsServerDocs/networking/technologies/dhcp/dhcp-deploy-relay-agent.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, aq-pr-triaged

#7674 Fix Enter-PSSession parameter that accepts GUID
  WindowsServerDocs/virtualization/hyper-v/manage/Manage-Windows-virtual-machines-with-PowerShell-Direct.md
Labels: do-not-merge, Change sent to author, windows-server/prod, hyper-v/tech, qualifies-for-auto-merge, aq-pr-triaged

#7672 Update cleanmgr.md
  WindowsServerDocs/administration/windows-commands/cleanmgr.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7630 Update ad-fs-requirements.md
  WindowsServerDocs/identity/ad-fs/overview/ad-fs-requirements.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, qualifies-for-auto-merge, aq-pr-triaged

#7671 Update configure-trusted-roots-disallowed-certificates.md
  WindowsServerDocs/identity/ad-cs/configure-trusted-roots-disallowed-certificates.md
Labels: do-not-merge, Change sent to author, windows-server/prod, security/tech, qualifies-for-auto-merge, aq-pr-triaged
