Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2024-12, with the labels that each got.

#7968 Spelling Fixes
  WindowsServerDocs/administration/windows-commands/ksetup-delhosttorealmmap.md
  WindowsServerDocs/administration/windows-commands/ksetup-dumpstate.md
  WindowsServerDocs/administration/windows-commands/pathping.md
  WindowsServerDocs/identity/ad-ds/deploy/Install-Active-Directory-Domain-Services--Level-100-.md
  WindowsServerDocs/identity/ad-ds/deploy/Install-a-New-Windows-Server-2012-Active-Directory-Child-or-Tree-Domain--Level-200-.md
  WindowsServerDocs/identity/ad-ds/deploy/Install-a-New-Windows-Server-2012-Active-Directory-Forest--Level-200-.md
  WindowsServerDocs/identity/ad-ds/deploy/Install-a-Replica-Windows-Server-2012-Domain-Controller-in-an-Existing-Domain--Level-200-.md
  WindowsServerDocs/identity/ad-ds/deploy/RODC/Install-a-Windows-Server-2012-Active-Directory-Read-Only-Domain-Controller--RODC---Level-200-.md
  WindowsServerDocs/identity/ad-ds/manage/AD-DS-Simplified-Administration.md
  WindowsServerDocs/identity/ad-ds/manage/How-to-Configure-Protected-Accounts.md
  WindowsServerDocs/identity/ad-ds/manage/forest-recovery-guide/ad-forest-recovery-determine-how-to-recover.md
  WindowsServerDocs/identity/ad-ds/manage/forest-recovery-guide/ad-forest-recovery-identify-the-problem.md
  WindowsServerDocs/identity/ad-ds/manage/forest-recovery-guide/ad-forest-recovery-perform-initial-recovery.md
  WindowsServerDocs/identity/ad-ds/manage/forest-recovery-guide/ad-forest-recovery-procedures.md
  WindowsServerDocs/identity/ad-ds/manage/troubleshoot/Verify-DNS-Functionality-to-Support-Directory-Replication.md
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Appendix-F--Securing-Domain-Admins-Groups-in-Active-Directory.md
  WindowsServerDocs/identity/ad-ds/plan/security-best-practices/Appendix-G--Securing-Administrators-Groups-in-Active-Directory.md
  WindowsServerDocs/identity/ad-fs/deployment/Checklist--Configuring-the-Account-Partner-Organization.md
  WindowsServerDocs/identity/ad-fs/deployment/Set-up-the-lab-environment-for-AD-FS-in-Windows-Server-2012-R2.md
  WindowsServerDocs/identity/ad-fs/development/ad-fs-logout-openid-connect.md
  WindowsServerDocs/identity/ad-fs/development/ad-fs-risk-assessment-model.md
  WindowsServerDocs/identity/ad-fs/operations/Configure-User-Certificate-Authentication.md
  WindowsServerDocs/identity/ad-fs/operations/Create-a-Rule-to-Pass-Through-or-Filter-an-Incoming-Claim.md
  WindowsServerDocs/identity/ad-fs/operations/ad-fs-always-on.md
  WindowsServerDocs/identity/ad-rms/adrms-deploy.md
  WindowsServerDocs/identity/solution-guides/certificate-enrollment-certificate-key-based-renewal.md
  WindowsServerDocs/manage/azure-arc/azure-site-recovery-for-windows-server.md
  WindowsServerDocs/manage/system-insights/data-sources.md
  WindowsServerDocs/networking/dns/deploy/primary-secondary-geo-location.md
  WindowsServerDocs/networking/technologies/accelerated-networking/accelerated-networking.md
  WindowsServerDocs/networking/technologies/ipam/Create-an-Access-Policy.md
  WindowsServerDocs/networking/technologies/nps/nps-plan-server.md
  WindowsServerDocs/security/credentials-protection-and-management/authentication-policies-and-authentication-policy-silos.md
  includes/specify-an-existing-host-key-certificate.md
Labels: do-not-merge, review-team-triage, needs-human-review, aq-pr-triaged

#8002 Update manage-arc-hybrid-machines.md
  WindowsServerDocs/manage/windows-admin-center/azure/manage-arc-hybrid-machines.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc, windows-admin-center/subsvc

#7993 Update kms-create-host.md
  WindowsServerDocs/get-started/kms-create-host.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, getting-started/subsvc
