Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2024-11, with the labels that each got.

#7966 Update windows-server-pay-as-you-go.md
  WindowsServerDocs/get-started/windows-server-pay-as-you-go.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-server/svc, getting-started/subsvc

#7973 Delete Retired .openpublishing.build.ps1 script of default branch
  .openpublishing.build.ps1
Labels: do-not-merge

#7925 Include missing default GPO setting values in Windows-Time-Service-Tools-and-Settings.md
  WindowsServerDocs/networking/windows-time-service/Windows-Time-Service-Tools-and-Settings.md
Labels: do-not-merge, Change sent to author, sign-off, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, networking/subsvc

#7990 WDAC Wizard Name Changes
  WindowsServerDocs/security/osconfig/osconfig-how-to-configure-app-control-for-business.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, security/subsvc
