Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2024-02, with the labels that each got.

#7690 Update certificate-authority-web-enrollment.md
  WindowsServerDocs/identity/ad-cs/certificate-authority-web-enrollment.md
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge, aq-pr-triaged

#7709 Update Add information about Azure kernel supported in Ubuntu 22.04 in Supported-Ubuntu-virtual-machines-on-Hyper-V.md
  WindowsServerDocs/virtualization/hyper-v/Supported-Ubuntu-virtual-machines-on-Hyper-V.md
Labels: do-not-merge, Change sent to author, windows-server/prod, hyper-v/tech, qualifies-for-auto-merge, aq-pr-triaged

#7712 Update enable-hotpatch-azure-edition.md
  WindowsServerDocs/get-started/enable-hotpatch-azure-edition.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, getting-started/subsvc

#7698 Update fsutil-8dot3name.md
  WindowsServerDocs/administration/windows-commands/fsutil-8dot3name.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7632 `schtasks-run.md`: Quote task name (`\tn` argument)
  WindowsServerDocs/administration/windows-commands/schtasks-run.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7534 Update rds-plan-secure-data-storage.md
  WindowsServerDocs/remote/remote-desktop-services/rds-plan-secure-data-storage.md
Labels: do-not-merge, Change sent to author, windows-server/prod, remote-desktop-services/tech, qualifies-for-auto-merge, aq-pr-triaged

#7689 Fixed a grammatical error in Append.md
  WindowsServerDocs/administration/windows-commands/append.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7687 Aligned parameter for TTL
  WindowsServerDocs/administration/windows-commands/ping.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7614 Fixed incorrect grammar
  WindowsServerDocs/networking/dns/quickstart-install-configure-dns-server.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, qualifies-for-auto-merge, aq-pr-triaged

#7602 Update ad-fs-requirements.md
  WindowsServerDocs/identity/ad-fs/overview/ad-fs-requirements.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-fs/tech, qualifies-for-auto-merge, aq-pr-triaged

#6829 Update OpenSSH_KeyManagement.md
  WindowsServerDocs/administration/OpenSSH/OpenSSH_KeyManagement.md
Labels: do-not-merge, Change sent to author, windows-server/prod, administration/tech, qualifies-for-auto-merge, aq-pr-triaged

#5895 Add description for acronym (VDL)
  WindowsServerDocs/storage/refs/refs-overview.md
Labels: do-not-merge, Change sent to author, windows-server/prod, storage/tech

#7445 Update schtasks-query.md - /tn parameter
  WindowsServerDocs/administration/windows-commands/schtasks-query.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged

#7723 secedit-export: The "/db" parameter is optional
  WindowsServerDocs/administration/windows-commands/secedit-export.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, administration/subsvc

#7718 Update echo.md
  WindowsServerDocs/administration/windows-commands/echo.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, administration/subsvc

#7522 Update perform-in-place-upgrade.md
  WindowsServerDocs/get-started/perform-in-place-upgrade.md
Labels: do-not-merge, Change sent to author, windows-server/prod, getting-started/tech, qualifies-for-auto-merge, aq-pr-triaged

#7521 Update configure-trusted-roots-disallowed-certificates.md
  WindowsServerDocs/identity/ad-cs/configure-trusted-roots-disallowed-certificates.md
Labels: do-not-merge, Change sent to author, windows-server/prod, security/tech, qualifies-for-auto-merge, aq-pr-triaged

#7733 Update configuring-systems-for-high-accuracy.md
  WindowsServerDocs/networking/windows-time-service/configuring-systems-for-high-accuracy.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, networking/subsvc

#7700 Update Windows-Time-Service-Tools-and-Settings.md
  WindowsServerDocs/networking/windows-time-service/Windows-Time-Service-Tools-and-Settings.md
Labels: do-not-merge, Change sent to author, windows-server/prod, networking/tech, qualifies-for-auto-merge, aq-pr-triaged

#7383 Update AD-FS-Rapid-Restore-Tool.md
  WindowsServerDocs/identity/ad-fs/operations/AD-FS-Rapid-Restore-Tool.md
Labels: Change sent to author, ready-to-merge, windows-server/prod, ad-fs/tech, qualifies-for-auto-merge, aq-pr-triaged

#6657 Special Identities: fix (Enterprise) Read-only domain controllers mistakes
  WindowsServerDocs/identity/ad-ds/manage/understand-special-identities-groups.md
Labels: do-not-merge, Change sent to author, windows-server/prod, ad-ds/tech, qualifies-for-auto-merge, aq-pr-triaged

#7261 Typo "Instal"→"Install"
  WindowsServerDocs/administration/windows-commands/wdsutil-remove-image.md
Labels: do-not-merge, Change sent to author, windows-server/prod, windows-commands/tech, qualifies-for-auto-merge, aq-pr-triaged
