Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2025-05, with the labels that each got.

#8054 Fix wrong kerb ticket lifetime for Protected Users - Update protected-users-security-group.md
  WindowsServerDocs/security/credentials-protection-and-management/protected-users-security-group.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, windows-server/svc, security/subsvc

#8052 Fix link to HCS blog post
  WindowsServerDocs/virtualization/hyper-v/manage/manage-hyper-v-cpugroups.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, windows-server/svc, hyper-v/subsvc

#8030 Azure-Note-Update faq.yml
  WindowsServerDocs/manage/windows-admin-center/understand/faq.yml
Labels: do-not-merge, Change sent to author, needs-human-review, aq-pr-triaged, windows-server/svc, windows-admin-center/subsvc

#8045 Update AD-FS-FAQ.yml for SID extension
  WindowsServerDocs/identity/ad-fs/overview/AD-FS-FAQ.yml
Labels: do-not-merge, Change sent to author, needs-human-review, aq-pr-triaged, windows-server/svc, security/subsvc

#8055 Update wmic.md to add subcommand `logicaldisk`
  WindowsServerDocs/administration/windows-commands/wmic.md
Labels: do-not-merge, Change sent to author, needs-human-review, windows-server/svc, administration/subsvc
