Repository MicrosoftDocs/windowsserverdocs, pull requests merged in 2025-03, with the labels that each got.

#8022 Update whats-new-windows-server-2025.md
  WindowsServerDocs/get-started/whats-new-windows-server-2025.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, getting-started/subsvc

#7960 Updated "Additional references" to reflect maintainer change for ReFS Versions
  WindowsServerDocs/storage/refs/refs-overview.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, storage/subsvc

#7711 Update server-core-servicing.md
  WindowsServerDocs/administration/server-core/server-core-servicing.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, aq-pr-triaged, windows-server/svc, administration/subsvc
